In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [3]:
df=pd.read_csv('metrics.csv')
df

         metric  2014  2015  2016  2017  2018
0      diabetes  0,06  0,07  0,08  0,07  0,08
1        fruits  0,20  0,21  0,19  0,23  0,20
2  hipertensi贸n  0,19  0,20  0,23  0,21  0,22
3    inactivity  0,13  0,20  0,20  0,17  0,21
4       obesity  0,20  0,22  0,23  0,23  0,24
5          soda  0,21  0,22  0,19  0,19  0,20

In [4]:
df['2014'] = df['2014'].str.replace(",", ".").astype(float)
df['2015'] = df['2015'].str.replace(",", ".").astype(float)
df['2016'] = df['2016'].str.replace(",", ".").astype(float)
df['2017'] = df['2017'].str.replace(",", ".").astype(float)
df['2018'] = df['2018'].str.replace(",", ".").astype(float)

In [5]:
df

         metric  2014  2015  2016  2017  2018
0      diabetes  0.06  0.07  0.08  0.07  0.08
1        fruits  0.20  0.21  0.19  0.23  0.20
2  hipertensi贸n  0.19  0.20  0.23  0.21  0.22
3    inactivity  0.13  0.20  0.20  0.17  0.21
4       obesity  0.20  0.22  0.23  0.23  0.24
5          soda  0.21  0.22  0.19  0.19  0.20

In [6]:
df.to_csv('metricas.csv', index=False)